.card { border: 2px solid black;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    height: 370px;
    

}
.card h3 {
    padding-bottom: 5px;
}
.card h4 {

    padding-bottom: 5px;
}